* {
    margin: 0;
    padding: 0;
}

.board {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 500px;
    height: 90vh;
}