@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/web-background.png);
    background-position: center;
    background-size: cover;
}

img {
    width: 400px;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.board {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6rem;
}

#canvas {
    border-radius: 15px;
}

.text {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
}

.text button {
    text-align: center;
    margin: 1.5rem auto 0 auto;
    padding: 1rem 6rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: none;
    border-radius: 15px;
    transition: .1s ease-in;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.7em;
}

.text button:hover {
    box-shadow: 0px 0px 50px 2px rgba(255, 255, 255, 1);
    cursor: pointer;
    color: white;
}

.instructions {
    margin: auto;
    font-family: 'Poiret One';
    font-weight: 400;
    font-size: 1.3em;
    color: white;
    text-align: center;
}

.devs {
    font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 20px;
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 1090px) {
    .board {
        margin: 0 auto;

    }

    .container {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 820px) {
    #canvas {
        width: 800px;
    }
}